<div id="change-password-page" class="container">
    <form name="changePasswordForm" class="form-auth">
        <h2 class="form-auth-heading">Password Change</h2>
        <p class="leading">Enter your current password and then choose a new one.</p>
        <form-group errors="formData.errors['currentPassword']">
            <label for="currentPassword">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current Password" required ng-model="formData.currentPassword">
        </form-group>
        <form-group errors="formData.errors['password.password1']">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="newPassword.password1" placeholder="Password" required ng-model="formData.newPassword.password1">
        </form-group>
        <form-group errors="formData.errors['password.password2']">
            <label for="password2">Repeat Password</label>
            <input type="password" class="form-control" id="password2" name="newPassword.password2" placeholder="Repeat Password" required ng-model="formData.newPassword.password2">
        </form-group>
        <button id="changePassword" class="btn btn-lg btn-success btn-block" ng-disabled="changePasswordForm.$invalid" type="submit" ng-click="change()">Change Password</button>
    </form>
</div>