<div class="container">
    <fieldset>
        <legend>
            <span>Hello! Who are you?</span>
        </legend>
        <div class="account-wall">
            <form class="form-vertical">
                <div class="form-group">
                    <input id="username" autofocus name="username" type="text" ng-model="formData.username" class="form-control"
                           placeholder="Your username"/>
                </div>
                <div class="form-group">
                    <input id="password" name="password" type="password" ng-model="formData.password"
                           class="form-control"
                           autocomplete="off" placeholder="And password"/>
                </div>
                <div class="form-group">
                    <button id="login" class="btn" ng-click="setUsername()"><i class="icon-play"></i>That's me!</button>
                </div>
            </form>
        </div>
    </fieldset>
</div>