<div id="reset-page" class="container">
    <form name="resetForm" class="form-auth" role="form">
        <h2 class="form-auth-heading">Reset Password</h2>
        <p class="leading">Enter your email address and click reset - you should receive an email with a link to reset your password.</p>
        <div class="form-group">
            <label for="email" class="sr-only">Email address</label>
            <input id="email" type="email" class="form-control" placeholder="Your email address" autofocus ng-required="true" ng-model="formData.email">
        </div>
        <button id="reset" class="btn btn-lg btn-success btn-block" ng-disabled="resetForm.$invalid" type="submit" ng-click="sendEmail()">Reset</button>
    </form>
</div>