<div id="signup-page" class="container">
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Sign Up!</h2>
        <p class="leading">Enter your email address. Wait for the link to arrive in your inbox, then follow it to complete signing up.</p>
        <input id="email" type="email" class="form-control" placeholder="Your email address" autofocus required ng-model="formData.email">
        <button id="login" class="btn btn-lg btn-success btn-block" type="submit" ng-click="setEmail()">Send email</button>
    </form>
</div>