<div id="signup-verified-page" class="container">
    <form name="signUpForm" class="form-signup" role="form">
        <h2 class="form-auth-heading">Sign Up!</h2>
        <p class="leading">Enter your details then you can get started.</p>
        <!--<form-group errors="formData.errors['userName']">-->
            <!--<label for="userName">Username</label>-->
            <!--<input type="text" class="form-control" id="userName" name="userName" autofocus required ng-model="formData.userName">-->
        <!--</form-group>-->
        <form-group errors="formData.errors['firstName']">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Joe" required ng-model="formData.firstName">
        </form-group>
        <form-group errors="formData.errors['lastName']">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Bloggs" required ng-model="formData.lastName">
        </form-group>
        <form-group errors="formData.errors['password.password1']">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password.password1" placeholder="Password" required ng-model="formData.password.password1">
        </form-group>
        <form-group errors="formData.errors['password.password2']">
            <label for="password2">Repeat Password</label>
            <input type="password" class="form-control" id="password2" name="password.password2" placeholder="Repeat Password" required ng-model="formData.password.password2">
        </form-group>

        <button id="sign-up" ng-disabled="signUpForm.$invalid" class="btn btn-success btn-lg btn-block" type="submit" ng-click="signUp()"><span class="glyphicon glyphicon-play"></span> Sign up</button>
    </form>
</div>