<div id="signup-page" class="container">
    <form name="signupForm" class="form-signin" role="form">
        <h2 class="form-signin-heading">Sign Up!</h2>
        <p class="leading">Enter your email address. Wait for the link to arrive in your inbox, then follow it to complete signing up.</p>
        <div class="form-group">
            <label for="email" class="sr-only">Password</label>
            <input id="email" type="email" class="form-control" placeholder="Your email address" autofocus ng-required="true" ng-model="formData.email">
        </div>
        <button id="login" class="btn btn-lg btn-success btn-block" ng-disabled="signupForm.$invalid" type="submit" ng-click="setEmail()">Send email</button>
    </form>
</div>