<div id="tasks-page" ng-show="loaded">
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand"><span id="headline">Hello {{ login.username }}, you have tasks: {{ getTodosCount() }}, remaining: {{ getRemainingCount() }}</span></div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="logoff" ng-click="logoff()"><span class="glyphicon glyphicon-off"></span> Log Out</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>
<div class="container">
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input id="filter-tasks" class="form-control" type="text" ng-model="search" placeholder="Search tasks">
    </div>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="todo in todos | filter:search">
            <div class="todo" ng-click="toggle(todo)">
                <input type="checkbox" ng-model="todo.done" ng-click="mute($event)" ng-change="update(todo)">
                <span class="done-{{ todo.done }}">{{ todo.text }}</span>
            </div>
        </div>
    </div>
    <form role="form">
        <div class="input-group">
            <input id="add-task-text" type="text" class="form-control" ng-model="formTodoText" ng-model-instant autofocus placeholder="Enter new task">
            <div class="input-group-btn">
                <button id="add-task" tabindex="-1" class="btn btn-primary" type="submit" ng-click="addTodo()"><span class="glyphicon glyphicon-plus"></span> Add</button>
            </div>
        </div>
    </form>
    <div class="input-group">
        <button id="clear-completed" class="btn btn-danger" ng-click="clearCompleted()"><span class="glyphicon glyphicon-trash"></span> Clear Completed</button>
    </div>
</div>
</div>
