<div class="container" ng-show="loaded">
    <fieldset>
        <legend id="headline">
            <span>Hello {{ login.username }}, you have tasks: {{ getTodosCount() }}, remaining: {{ getRemainingCount() }}</span>
            <button id="logoff" ng-click="logoff()" class="btn"><i class="icon-off"></i></button>
        </legend>
        <div>
            <form class="form-horizontal">
                <input type="text" ng-model="search" placeholder="Filter tasks"/>
            </form>
            <ul class="unstyled">
                <li ng-repeat="todo in todos | filter:search">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="todo.done" ng-change="update(todo)"/>
                        <span class="done-{{ todo.done }}">{{ todo.text }}</span>
                    </label>
                </li>
            </ul>
            <form class="form-horizontal">
                <label>
                    <input id="add-task-text" type="text" ng-model="formTodoText" ng-model-instant placeholder="Enter new task"/>
                    <button id="add-task" class="btn" ng-click="addTodo()"><i class="icon-plus"></i>Add</button>
                </label>
            </form>

            <button id="clear-completed" class="btn" ng-click="clearCompleted()"><i class="icon-trash"></i>Clear Completed</button>
        </div>
    </fieldset>
</div>
